MSSQL_SERVER=13.203.151.131
MSSQL_PORT=1433
MSSQL_DATABASE=Facility
MSSQL_AUTH=sql
MSSQL_USER=sa
MSSQL_PASSWORD=your_password_here
MSSQL_ENCRYPT=true
MSSQL_TRUST_CERT=true
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=8h
PORT=5055
CORS_ORIGIN=http://localhost:4200
NODE_ENV=development
